<h1><b>TIENDA COMPUMUNDO-HIPER-MEGA-RED</b></h1>
<h1>Productos:</h1>

<div class="list" *ngIf="show">

  <ul>
    <p><b>NOMBRE</b></p>
    <li *ngFor="let prod of techProds">
      <p>{{prod.name | titlecase}}</p>
    </li>
  </ul>
  <ul>
    <p><b>PRECIO</b></p>
    <li *ngFor="let prod of techProds">
      <p>{{prod.price | currency}}</p>
    </li>
  </ul>
</div>

<button mat-stroked-button color="primary" *ngIf="show" (click)="cambio()">Ocultar Lista</button>
<button mat-stroked-button color="warn" *ngIf="!show" (click)="cambio()">Mostrar Lista</button>